on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Validate package build
        run: uv build

      - name: Run checks
        run: make check
