name: "Publish"

on:
  push:
    tags:
      - "*.*.*"

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Python 3.14
        run: uv python install 3.14

      - name: Build
        run: uv build

      - name: Checks
        run: make check

      - name: Publish
        run: uv publish
